<input type="text" id="search" placeholder="Search" (keyup.enter)="globalSearch($event);">
<ag-grid-angular style="width: 1300px; height: 500px;" class="ag-theme-alpine"  		
	#agGrid id="myGrid"
	[animateRows]="true"
	[modules]="modules" 
	[defaultColDef]="defaultColDef" 
	[columnDefs]="columnDefs" 
	[pagination]="true" 
	[paginationPageSize]="10"
	[overlayLoadingTemplate]="overlayLoadingTemplate"
	[overlayNoRowsTemplate]="overlayNoRowsTemplate"
	(gridReady)="onGridReady($event)">
</ag-grid-angular>